[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-bigquery = "<=1.3.0" # 1.4.0は拡張機能や挙動が不安定なためなし(20230127時点)。
dbt-rpc = "*" # wizard for Dbt Core (拡張機能)のために必要
sqlfluff = "*" # sqlfluff(拡張機能)のために必要

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
